<% stylesheet('asset/css/fotorama.css') -%>
	<div class="slider-area">
		<!-- Slider -->
		<div class="block-slider block-slider4">
			<div class="fotorama">
				<img src="asset/img/h4-slide.png" alt="Slide">
				<img src="asset/img/h4-slide2.png" alt="Slide">
				<img src="asset/img/h4-slide3.png" alt="Slide">
				<img src="asset/img/h4-slide4.png" alt="Slide">				
			</div>
		</div>
		<!-- ./Slider -->
	</div>
	<!-- End slider area -->
	<% script('asset/js/fotorama.js') -%>