<% stylesheet('asset/css/fotorama.css') -%>
	<div class="slider-area">
		<!-- Slider -->
		<div class="block-slider block-slider4">
			<div class="fotorama" data-autoplay="3000" data-loop="true">
				<a href="#"><img src="asset/img/h4-slide.png" alt="Slide"></a>
				<a href="#"><img src="asset/img/h4-slide2.png" alt="Slide"></a>	
				<a href="#"><img src="asset/img/h4-slide3.png" alt="Slide"></a>
				<a href="#"><img src="asset/img/h4-slide4.png" alt="Slide"></a>
			</div>
		</div>
		<!-- ./Slider -->
	</div>
	<!-- End slider area -->
	<% script('asset/js/fotorama.js') -%>