<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%=sails.getUrlFor('AdminController.dashboard')%>">ADMIN</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">     
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sản phẩm
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li> <a href="#">Danh sách</a></li>
              <li> <a href="#">Thêm</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tin tức
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Danh sách</a></li>
              <li><a href="#">Thêm</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Danh mục cha
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Danh sách</a></li>
              <li><a href="#">Thêm</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Danh mục con
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li> <a href="#">Danh sách</a></li>
              <li><a href="#">Thêm</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tài khoản
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="<%=sails.getUrlFor('UserController.danhsachGET')%>">Danh sách</a></li>
              <li><a href="<%=sails.getUrlFor('UserController.themGET')%>">Thêm</a></li>
              <li><a href="#">Quyền sử dụng</a></li>
            </ul>
          </li>
            <li><a href="#"><span class="glyphicon glyphicon-user"></span><%-req.session.tennguoidung%></a></li>             
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
      </form>
    </div>
  </div>
</nav>