<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav" id="menu">
  <li>
    <a><i class="fa fa-dashboard fa-fw"></i>Thống kê</a>
  </li>
    <li>
      <a href="#"><i class="fa fa-cube fa-fw"></i>Sản phẩm<span class="fa arrow"></span></a>
      <ul class="nav nav-second-level">
          <li>
              <a href="#">Danh sách</a>
          </li>
          <li>
              <a href="#">Thêm</a>
          </li>
      </ul>
  </li>
  <li>
      <a><i class="fa fa-bar-chart-o fa-fw"></i>Tin tức<span class="fa arrow"></span></a>
      <ul class="nav nav-second-level">
          <li>
              <a href="#">Danh sách</a>
          </li>
          <li>
              <a href="#">Thêm</a>
          </li>
      </ul>
  </li>
  <li>
      <a><i class="fa fa-bar-chart-o fa-fw"></i>Danh mục cha<span class="fa arrow"></span></a>
      <ul class="nav nav-second-level">
          <li>
              <a href="#">Danh sách</a>
          </li>
          <li>
              <a href="#">Thêm</a>
          </li>
      </ul>
  </li>
  <li>
      <a><i class="fa fa-bar-chart-o fa-fw"></i>Danh mục con<span class="fa arrow"></span></a>
      <ul class="nav nav-second-level">
          <li>
              <a href="#">Danh sách</a>
          </li>
          <li>
              <a href="#">Thêm</a>
          </li>
      </ul>
  </li>
  <li>
      <a><i class="fa fa-users fa-fw"></i>Tài khoản<span class="fa arrow"></span></a>
      <ul class="nav nav-second-level">
          <li>
              <a href="#">Danh sách</a>
          </li>
          <li>
              <a href="#">Thêm</a>
          </li>
      </ul>
  </li>
</ul>
</div>