<div class="header-area" style="height:30px">

</div>
<!-- End header area -->

<div class="site-branding-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="logo">
                    <h1><a href="/"><img src="asset/img/logo.png"></a></h1>
                </div>
            </div>
            <div class="col-sm-4" style="margin-top:40px">                
            </div>            
            <div class="col-sm-4">
                <div class="shopping-item">
                    <a href="/cart">Giỏ hàng<span class="cart-amunt"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End site branding area -->