<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <!--<li><a href="/shop">Shop page</a></li>
                    <li><a href="/single">Single product</a></li>-->                    
                    <% myVar.forEach(function(tb){ %>
                       <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= tb.tenthietbi %><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                        <% tb.nhasanxuat.forEach(function(nhasx){%>
                             <li><a href="/<%= nhasx.slug %>-<%= nhasx.id %>.html"><%= nhasx.tennhasanxuat %></a></li>
                        <% }) %>
                        </ul>
                    </li>                       
                    <% }) %>
                    <li><a href="/cart">Cart</a></li>
                    <li><a href="/checkout">Checkout</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End mainmenu area -->