<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Kiểm tra đơn hàng</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Nhập mã đơn hàng" id="txt_madonhang">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default" id="btn_timdonhang" >Tìm đơn hàng</button>
                    </div>
                </div>
                <script>
                $(document).ready(function(){
                    $("#btn_timdonhang").click(function(){
                        $.ajax({
                            type: "POST",                           
                            url: "/laythongtindonhang",
                            data:{
                                madonhang: $("#txt_madonhang").val(),
                                _csrf: "<%= _csrf %>",
                            },
                            success: function(data){
                                if(data){
                                    $("#tb_ketqua tbody").html(data);
                                }
                            }
                        })
                    });
                });
                </script>
                <div id="result" style="margin-top:20px">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="tb_ketqua">
                            <thead>
                                <tr align="center">
                                    <th></th>
                                    <th>Sản phẩm</th>
                                    <th>Số lượng</th>
                                    <th>Giá</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                        <% if(req.session.flash && req.session.flash.warning){ %>
                            <div class="alert alert-warning">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                <%= req.flash('warning') %>
                            </div>
                        <% } %>
                        <% if(req.session.flash && req.session.flash.success){ %>
                          <div class="alert alert-success">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                            <%= req.flash('success')%>
                          </div>
                          <% } %>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>        
        </div>
    </div>
</div>